html,body,#root {
  margin: 0;
  padding: 0;
  background-color: #1d1d1d;
}

.name_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.name_svg {
  position: relative;
  height: 25rem;  /* Create media query for mobile */
  width: 25rem;   /* Create media query for mobile */
  margin: auto;
  top: 20%;
}


.name_line {
  position: relative;
  bottom: 5rem;
}


.job_title {
  position: relative;
  height: 30rem;  /* Create media query for mobile */
  bottom: 36rem;
}

.enter_btn {
  position: absolute;
    top: 350px;
    right: 150px;
    color: #5f5f5f;
    background: #242424;
    border: 1px solid #444444;
    padding: 1rem 3rem;
    font-size: 1rem;
    box-shadow: 0px 0px 5px #08fdd8;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0;
}

.enter_btn {
  animation: fadeIn 5s linear 5s forwards;
}

@keyframes fadeIn {
  0% { opacity:0; }
  50% { opacity:.5; } 
  100% { opacity:1; } 
 }